extends layout

block content

  if products.length == 0
    .alert.alert-warning
      | Database query returned no results.
  else
    table.table
      tbody
        for product in products
          tr
            td.span2
              // product thumbnail
              a(href='/products/#{product.slug}')
                img.img-polaroid.small-img(src='/img/products/#{product.largeImage}')
            td
              // product title
              a(href='/products/#{product.slug}')
                strong #{product.title}

              // product information
              div
                small.muted
                  div #{product.genre}

              // product description
              p #{product.description}
  include buy